*{
   margin:0%;
   padding:0%;
   font-family:Rubik ;
}
/* header till line 69 */
/* first page with boy illustraion and text from line 70 */
container{
   height:100%;
   width:90%;
   margin:auto;
   display:flex;
   flex-direction: column;
}
.top{
   /* background-color: aqua; */
/* height:2vh; */
width:93%;
margin:auto;
}
.header{  
   /* position:absolute; */
   display:flex;
   padding-top:2%;
   padding-bottom:2%;
   justify-content: space-between;
   /* margin-left:5vh ;
   margin-right:5vh ; */
   font-size:1.3em;
}
.logoname{
   display:flex;
   align-items: center;
}
.name_of_site{
   padding-left:20% ;
   padding-right:20%;
}

.diffButton{
   display:flex;
   align-items:center;
   width:40%;
   color:#4F5665;
   justify-content: space-between;

}
.logging{
   display:flex;
   align-items:center;
   /* width:20%; */
   justify-content: flex-end;
   /* justify-content: space-between; */
   
}
.signIn{
   
   padding:0px;
   padding-right:1%;
   padding-left:1%;
   padding-top:5%;
   padding-bottom:5%;
   border: 1px solid #f5385400;
   
}
.signUp{
   padding:0px;
   padding-right:1%;
   padding-left:1%;
   padding-top:5%;
   padding-bottom:5%;
   border: 1px solid #f5385400;
}


.logging div:hover{
   cursor:pointer;
   
   border: 1px solid #F53855;
   /* border-width:5px; */
   border-radius: 15px;
   color:#F53855;
}


/* header ends here  */
/* here we move forward  */
 .firstpage{
    /* background-color: green; */
   display: flex;
   padding-top:5%;
   width:100%;
   padding-left: 5%;
   padding-right:5% ;
   margin-top: 5%;
   /* margin:auto !important; */
}

.start{
   display:flex;
   width:96%;
   height:90%;
   margin:auto;
   /* margin-top:10vh; */

 } 
.text1{
   padding-top: 8%;
   display:flex;
   flex-direction: column;
   width:50%;
}
.h1{
   display:flex;
   font-size:190%;
   padding-top:5%;
   padding-bottom:5% ;
}
.h3{Font-family: Rubik;
   color:#4F5665;
   display:flex;
   font-size: 95%;
   padding-bottom:5% ;
   padding-top:5%;
}
.button_get{
display:flex;
margin-top:5%;
}
.start_button{
   display:flex;
   
   padding-bottom:3%;
   padding-top: 3%;
   border-radius: 20px;
   background-color:#F53855 ;
   color:white;
   font-size: 142%;;
   padding-left: 8%;
   padding-right:8% ;

}
/* .start_button:after {
   content:"";
   position:absolute;
   width:30%;
   bottom:1px;
   z-index:-1;
   transform:scale(.9);
   box-shadow: 0px 2px 5px 2px #F53855  ;
} */
.boy_illustraion{
   width:50%;
   padding-top: 8vh;
}
.boy_img{
   
   height:100%;
   width:100%;
} 

.statics{
   height:20%;
   width:80%;
   display:flex;
   margin:auto;
   margin-bottom: 2vh;
   align-items: center;
   padding:8%;
  
   border-radius: 5vh;
}
.customers{ 
   width:33%;
   display:flex;
   align-items: center;
   justify-content: center;
   padding-left:5% ;
   padding-right:5% ;

}
.location{
   width:33%;
   display:flex;
   align-items: center;
   justify-content: center;
}
.serversupport{
   width:33%;
   display:flex;
   align-items: center;
   justify-content: center;
}
.border{
   margin:3%;
   height:50%;
   width:.2%;
   background-color: grey;
   border-radius: 20%;
}
.noofcustom{
  padding:3%;
}
.noofcampus{
   padding:3%;
}
.noofserver{
   padding:3%;
}
/*       */
/*  */
/*  */
/*  */
/*  */
.pagetwo{
   display:flex;
   width:100%;
   justify-content: center;

}
.pagediv{
   display: flex;
   /* padding:5%; */
   width:95%;
   /* margin-top: 5%; */
   /* align-items: center; */
   justify-content: center;
   justify-items:last baseline;
   margin-bottom: 5%;
   justify-content: space-between;
}
.scndboy{
   width:50%;
   display:flex;
   justify-content: center;
   margin-right: 2%;
}
.scndimg{
  padding-left:5%;
  padding-right:5% ;
  width:100%;
  height:100%;
  padding-bottom: 2%;
  margin-right: 2%;

}
.aboutfeatures{
   width:45%;
   margin-top:5%;
   margin-left: 4%;
   display:flex;
   padding-left:10%;
   justify-content: center;
   flex-direction: column;
   
   
}
.tagline{
   font-size:280%;
   /* font-size:6vh; */
   /* font-size: 2.5em; */
   padding:2%;
   margin-top: 6%;
}
.tagdown{
   padding:2%;
}
.tablefeature{
   padding:2%;
   padding-bottom: 0%;
}
.fisrtftr{
   display:flex;
   margin-top:2%;

}
.scndftr{
   display:flex;
   margin-top:2%;
}
.thrdftr{
   display:flex;
   margin-top:2%;
}
.forthftr{
   display:flex;
   margin-top:2%;
}
.ticktext{
margin-left:2%;
}
